<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<nav class="navbar navba-bg-body-tertiary" style="background-image:url('/app/images/kateisaien.jpg');" layout:fragment=="nav">
		<div class="container">
			<a class="navbar-brand faded-element" th:href="@{/mypage}">
				<img th:src="@{/images/icons/logo.png}">
			</a>
			<ul class="nav justify-content-end nav-pills">
				<th:block sec:authorize="isAuthenticated()">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
							aria-expanded="false">作物管理</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" th:href="@{/crops/list}">作物一覧</a></li>
							<li><a class="dropdown-item" th:href="@{/crops/new}">作物登録</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
							aria-expanded="false">栽培計画管理</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" th:href="@{/plans/list}">栽培計画一覧</a></li>
							<li><a class="dropdown-item" th:href="@{/plans/new}">栽培計画登録</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
							aria-expanded="false">栽培日誌管理</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" th:href="@{/diarys/list}">栽培日誌一覧</a></li>
							<li><a class="dropdown-item" th:href="@{/plans/list}">栽培日誌登録</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
							aria-expanded="false">区画管理</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" th:href="@{/sections/list}">区画一覧</a></li>
							<li><a class="dropdown-item" th:href="@{/sections/new}">区画登録</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
							aria-expanded="false">ユーザー管理</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" th:href="@{/users/new}">ユーザー登録</a></li>
							<li><a class="dropdown-item" th:href="@{/users/detail}">ユーザー情報確認・編集</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
						</ul>
					</li>
					<li class="nav-item">
						<form id="logout-form" th:action="@{/logout}" method="post">
							<!-- CSRFトークンの追加 -->
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							<!-- ログアウトボタン -->
							<a class="nav-link" href="#" onclick="document.getElementById('logout-form').submit();">ログアウト</a>
						</form>
					</li>
				</th:block>
				<th:block sec:authorize="!isAuthenticated()">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/users/new}">ユーザー登録</a>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/login}">ログイン</a>
				</th:block>
			</ul>
		</div>
	</nav>
	<div id="messages" layout:fragment="messages" th:if="!${#lists.isEmpty(#fields.detailedErrors())}">
		<ul>
			<li th:each="error : ${#fields.detailedErrors()}" class="error-message" th:text="${error.message}" />
		</ul>
	</div>
	<div id="messages" layout:fragment="notField-messages" th:if="!${#lists.isEmpty(notFieldMessages)}">
		<ul>
			<li th:each="error : ${notFieldMessages}" class="error-message" th:text="${error}" />
		</ul>
	</div>
</body>

</html>