<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<nav class="navbar navba-bg-body-tertiary" layout:fragment="nav">
		<div class="container">
			<a class="navbar-brand" th:href="@{/mypage}">
				<img src="/images/icons/logo.png" th:src="@{/images/icons/logo.png}">
			</a>
			<ul class="nav justify-content-end nav-pills">
				<th:block sec:authorize="isAuthenticated()">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">作物管理</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" th:href="@{/crops/list}">作物一覧</a></li>
							<li><a class="dropdown-item" th:href="@{/crops/new}">作物登録</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"  href="#" role="button" aria-expanded="false">栽培計画管理</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" th:href="@{/plans/list}">栽培計画一覧</a></li>
							<li><a class="dropdown-item" th:href="@{/plans/calendar}">栽培計画一覧カレンダー表示</a></li>
							<li><a class="dropdown-item" th:href="@{/plans/new}">栽培計画登録</a></li>
							<li><a class="dropdown-item" th:href="@{/confirmation}">栽培状況確認</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"  href="#"role="button" aria-expanded="false">栽培日誌管理</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" th:href="@{/diarys/list}">栽培日誌一覧</a></li>
							<li><a class="dropdown-item" th:href="@{/plans/list}">栽培日誌登録</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"  href="#" role="button" aria-expanded="false">区画管理</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" th:href="@{/sections/list}">区画一覧</a></li>
							<li><a class="dropdown-item" th:href="@{/sections/new}">区画登録</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"  href="#" role="button"
							aria-expanded="false">ユーザー管理</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" th:href="@{/mypage}">マイページ</a></li>
							<li><a class="dropdown-item" th:href="@{/users/edit}">プロフィールの編集</a></li>
							<li><a class="dropdown-item" th:href="@{/settings}">設定</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/logout}">ログアウト</a>
					</li>
				</th:block>
				<th:block sec:authorize="!isAuthenticated()">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/users/new}">ユーザー登録</a>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/login}">ログイン</a>
				</th:block>
			</ul>
		</div>
	</nav>
	<div id="messages" layout:fragment="messages" th:if="!${#lists.isEmpty(#fields.detailedErrors())}">
		<ul>
			<li th:each="error : ${#fields.detailedErrors()}" class="error-message" th:text="${error.message}" />
		</ul>
	</div>
</body>

</html>