<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}">
  <head>
    <title>Pictgram</title>
  </head>
  <body>
  <div class="users-new-wrapper" layout:fragment="contents">
  <div layout:replace="~{layouts/common::messages}"></div>
        <form method="get" th:action="@{/login}">
          <input type="submit" value="ログインする" class="btn w-100 btn-outline-light" />
        </form>
</div>
  </body>
</html>