<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>Portfolio</title>
</head>

<body>
	<div class="users-new-wrapper" layout:fragment="contents">
		<div class="container">
			<div class="row">
				<main class="col-md-6 mx-auto">
					<h1>パスワード再発行のURLが正常に生成されました</h1>
					<p>そのURLは、登録されたEメールアドレスに送信されました。<br>URLにアクセスして、以下の秘密情報を入力してください。</p>
					<h3>秘密情報 : <span id=secret th:text="${secret}"></span></h3> <!-- (1) -->
				</main>
			</div>
		</div>
	</div>
</body>

</html>