<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>Portfolio</title>
</head>
<body>
    <div class="users-new-wrapper" layout:fragment="contents">
			<h1>Reset Password</h1>
        <form method="post" th:action="@{/reissue/resetpassword}" th:object="${form}">
          <div layout:replace="~{layouts/common::messages}"></div> 
             <label type="hidden"class="form-label"></label>
             <input  type="hidden" class="form-control" th:field="*{email}" /><p th:if="${#fields.hasErrors('email')}" class="error-message" th:errors="*{email}"></p>
             <label type="hidden"class="form-label"></label>
             <input type="hidden" class="form-control" th:field="*{token}" /><p th:if="${#fields.hasErrors('token')}" class="error-message" th:errors="*{token}"></p>
             <label class="form-label">Secret</label>
             <input type="text" class="form-control" th:field="*{secret}" /><p th:if="${#fields.hasErrors('secret')}" class="error-message" th:errors="*{secret}"></p>
             <label class="form-label">New password</label>
             <input type="password" class="form-control" th:field="*{password}" /><p th:if="${#fields.hasErrors('password')}" class="error-message" th:errors="*{password}"></p>
             <label class="form-label">New password(Confirm)</label>
             <input type="password" class="form-control" th:field="*{passwordConfirmation}" /><p th:if="${#fields.hasErrors('passwordConfirmation')}" class="error-message" th:errors="*{passwordConfirmation}"></p>
            <input type="submit" value="Reset password" class="btn" />
    </div>
</body>
</html>