<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>Portfolio</title>
</head>

<body>
	<div class="users-new-wrapper" layout:fragment="contents">
		<div class="container">
			<div class="row">
				<main class="col-md-5 mx-auto">
					<h1>パスワード再設定</h1>
					<form method="post" th:action="@{/reissue/resetpassword}" th:object="${form}">
						<div layout:replace="~{layouts/common::messages}"></div>
						<input type="hidden" class="form-control" th:field="*{email}" />
						<p th:if="${#fields.hasErrors('email')}" class="error-message" th:errors="*{email}"></p>
						<input type="hidden" class="form-control" th:field="*{token}" />
						<p th:if="${#fields.hasErrors('token')}" class="error-message" th:errors="*{token}"></p>
						<label class="form-label">秘密情報</label>
						<input type="text" class="form-control" th:field="*{secret}" />
						<p th:if="${#fields.hasErrors('secret')}" class="error-message" th:errors="*{secret}"></p>
						<label class="form-label" 　for="password">新しいパスワード</label>
						<input type="password" class="form-control" id="password" 　th:field="*{password}" />
						<p th:if="${#fields.hasErrors('password')}" class="error-message" th:errors="*{password}"></p>
						<label class="form-label" 　for="passwordConfirmation">新しいパスワード(確認用)</label>
						<input type="password" class="form-control" id="passwordConfirmation" 　th:field="*{passwordConfirmation}" />
						<p th:if="${#fields.hasErrors('passwordConfirmation')}" class="error-message"
							th:errors="*{passwordConfirmation}">
						</p>
						<input type="submit" value="パスワード再設定" class="btn w-100 btn-success" />
					</form>
				</main>
			</div>
		</div>
	</div>
</body>

</html>