<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>さいばい手帖</title>
</head>

<body>
	<div layout:fragment="contents">
		<div class="container">
			<div class="row">
				<main class="col-md-5 mx-auto">
					<!-- タイトル表示 -->
					<h1 class="text-center">パスワード再設定</h1>
					<!-- パスワード再設定フォーム -->
					<form method="post" th:action="@{/reissue/resetpassword}" th:object="${form}">
						<!-- エラーメッセージの表示 -->
						<div layout:replace="~{layouts/common::messages}"></div>
						<!-- メールアドレスの隠しフィールド -->
						<input type="hidden" class="form-control" th:field="*{email}" />
						<!-- トークンの隠しフィールド -->
						<input type="hidden" class="form-control" th:field="*{token}" />
						<!-- 秘密情報の入力フォーム -->
						<div class="mb-3">
							<label class="form-label" for="secret">秘密情報</label>
							<input type="text" class="form-control" th:field="*{secret}" />
							<p th:if="${#fields.hasErrors('secret')}" class="error-message" th:errors="*{secret}"></p>
						</div>
						<!-- 新しいパスワードの入力フォーム -->
						<div class="mb-3">
							<label class="form-label" for="password">新しいパスワード</label>
							<input type="password" class="form-control" id="password" th:field="*{password}" />
							<p th:if="${#fields.hasErrors('password')}" class="error-message" th:errors="*{password}"></p>
						</div>
						<!-- 新しいパスワード（確認用）の入力フォーム -->
						<div class="mb-3">
							<label class="form-label" for="passwordConfirmation">新しいパスワード(確認用)</label>
							<input type="password" class="form-control" id="passwordConfirmation"
								　th:field="*{passwordConfirmation}" />
							<p th:if="${#fields.hasErrors('passwordConfirmation')}" class="error-message"
								th:errors="*{passwordConfirmation}">
							</p>
						</div>
						<!-- パスワード再設定ボタン -->
						<input type="submit" value="パスワード再設定" class="btn w-100 btn-success" />
					</form>
				</main>
			</div>
		</div>
	</div>
</body>

</html>