<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>Portfolio</title>
</head>

<body>
	<div class="topics-new-wrapper" layout:fragment="contents">
		<div layout:replace="~{layouts/common::messages}"></div>
		<div th:if="${crop}">
			<h1>作物詳細</h1>
			<label>作物名</label>
			<span th:text="${crop.name}"></span>
			<label>種まき可能開始日</label>
			<span th:text="${crop.sowing_start}"></span>
			<label>種まき可能終了日</label>
			<span th:text="${crop.sowing_end}"></span>
			<label>収穫開始予定日</label>
			<span th:text="${crop.harvest_start}"></span>
			<label>収穫終了予定日</label>
			<span th:text="${crop.harvest_end}"></span>
			<label>栽培期間</label>
			<span th:text="${crop.cultivationp_period}"></span>
			<span>日</span>
			<label>育て方</label>
			<span th:text="${crop.manual}"></span>
		</div>
		<div th:if="${#lists.size(list) > 0}" th:each="image: ${list}">
			<div class="d-inline-block">
				<img th:src="${image.path}" alt="Image" style="width: 150px; height: 150px;">
				<span th:text="${image.path}"></span>

			</div>
		</div>
		<a class="btn btn-primary" th:href="@{'/crops/edit/' + ${crop.Id}}" role="button">編集する</a>
		<a class="btn btn-primary" th:href="@{'/crops/delete/' + ${crop.Id}}" role="button">削除する</a>
		<a class="btn btn-primary" th:href="@{'/plans/new/' + ${crop.Id}}" role="button">作物計画を作成する</a>

	</div>

	<body>

</html>