<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>Portfolio</title>
</head>

<body>
	<div class="topics-new-wrapper" layout:fragment="contents">
		<div class="container">
			<div class="row">
				<main class="col-md-8 mx-auto">
					<h1 class="text-center">作物編集</h1>
					<form method="post" th:action="@{/crops/edit-complete}" th:object="${form}">
						<label>トップ画像</label>
						<div layout:replace="~{layouts/common::messages}"></div>
						<div th:if="${#lists.size(list) > 0}" th:each="image: ${list}">
							<div th:if="${image.topImage}">
								<img th:src="${image.path}" alt="Image" style="width: 150px; height: 150px;">
							</div>
						</div>
						<label>その他画像</label>
						<div style="display: flex; flex-wrap: wrap;">
							<div th:if="${#lists.size(list) > 0}" th:each="image: ${list}">
								<div th:if="${!image.topImage}">
									<img th:src="${image.path}" alt="Image" style="width: 150px; height: 150px; margin-right: 10px;">
								</div>
							</div>
						</div>
						<input type="hidden" th:field="*{id}" />
						<div class="mb-3">
							<label label class="form-label" for="name">作物名</label>
							<input type="text" class="form-control" th:field="*{name}" />
							<p th:if="${#fields.hasErrors('name')}" class="error-message" th:errors="*{name}"></p>
						</div>
						<div class="mb-3 row">
							<label class="form-label" 　for="sowing_period" 　>播種可能期間</label>
							<div class="row">
								<div class="input-group">
									<div class="col">
										<input type="text" class="form-control" 　id="sowing_period" th:field="*{sowing_start}"
											placeholder="MM-dd" />
									</div>
									<span class="mx-2">～</span>
									<div class="col">
										<input type="text" class="form-control" 　id="sowing_period" th:field="*{sowing_end}"
											placeholder="MM-dd" />
									</div>
								</div>
							</div>
							<p th:if="${#fields.hasErrors('sowing_start')}" class="error-message" th:errors="*{sowing_start}">
							</p>
							<p th:if="${#fields.hasErrors('sowing_end')}" class="error-message" th:errors="*{sowing_end}"></p>
						</div>
						<div class="mb-3">
							<label class="form-label" 　for="cultivationp_period">栽培日数</label>
							<div class="input-group">
								<input type="number" class="form-control" 　id="cultivationp_period" th:field="*{cultivationp_period}" />
								<span>日</span>
							</div>
							<p th:if=" ${#fields.hasErrors('cultivationp_period')}" class="error-message"
								th:errors="*{cultivationp_period}">
							</p>
						</div>
						<div class="mb-3">
							<label class="form-label" for="manual">育て方メモ</label>
							<textarea class="form-control" id="manual" th:field="*{manual}" th:errorclass="error-field"></textarea>
							<p th:if="${#fields.hasErrors('manual')}" class="error-message" th:errors="*{manual}"></p>
						</div>
						<input type="submit" value="編集" class="btn w-100 btn-success" />
					</form>
				</main>
			</div>
		</div>
	</div>
</body>

</html>