<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>Portfolio</title>
</head>

<body>
	<div layout:fragment="contents">
		<h1 style="display: flex; align-items: center;"><span th:text="${month}" style="font-size: 50px;"></span>種まき作物</h1>
		<div th:each="crop : ${list}">
			<div class="card border-white" style="width: 300px; height: 300px;">
				<div th:if="${#lists.size(crop.cropImages) > 0}">
					<div th:each="image: ${crop.cropImages}">
						<div th:if="${image.topImage}">
							<a th:href="@{'/crops/detail/' + ${crop.id}}">
								<img th:src="${image.path}" class="card-img" alt="Image" style="width: 300px; height: 300px;">
							</a>
						</div>
					</div>
				</div>
				<a th:href="@{'/crops/detail/' + ${crop.id}}"  style="text-decoration: none; color: inherit;">
					<div class="card-img-overlay">
						<h2 class="card-title" th:text="${crop.name}" style="color: white;"></h2>
					</div>
				</a>
			</div>
		</div>
	</div>
</body>

</html>