<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>Portfolio</title>
</head>

<body>
	
	<div class="users-new-wrapper" layout:fragment="contents">
		<h1><span th:text="${month}"></span>種まき作物</h1>
		<div class="row" th:each="crop : ${list}">
			<div th:if="${#lists.size(crop.cropImages) > 0}">
				<div class="d-inline-block" th:each="image: ${crop.cropImages}">
					<div th:if="${image.topImage}">
						<a th:href="@{'/crops/detail/' + ${crop.id}}">
							<img th:src="${image.path}" alt="Image" style="width: 150px; height: 150px;">
							<p th:text="${crop.name}"></p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>