<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>さいばい手帖</title>
</head>

<body>
	<div layout:fragment="contents">
		<div class="container mt-4">
			<div class="row">
				<main class="col-md-5 mx-auto">
					<form id="searchForm" method="post" th:action="@{/crops/search}">
						<div class="form-group">
							<label class="form-label" for="keyword">作物名を入力:</label>
							<input type="text" class="form-control" th:value="${keyword}" id="keyword" name="keyword">
								<span th:if="${sarchMessage}" th:text="${sarchMessage}"></span>
							<button type="submit" class="btn w-40 btn-success">検索</button>
						</div>
					</form>
				</main>
			</div>
			<div class="row">
				<main class="col-md-10 mx-auto">
					<h1>作物一覧</h1>
					<table class="table">
						<thead>
							<tr>
								<th scope="col">id</th>
								<th scope="col">作物名</th>
								<th scope="col">播種可能期間</th>
								<th scope="col">栽培日数</th>
								<th scope="col">育て方メモ</th>
								<th scope="col">action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="crop : ${list}">
								<th th:text="${crop.id}"></th>
								<td th:text="${crop.name}"></td>
								<td>
									<div style="display: flex; align-items: center;">
										<div th:text="${#strings.substring(crop.sowing_start, 5, 10)}"></div>
										<div>　～　</div>
										<div th:text="${#strings.substring(crop.sowing_end, 5, 10)}"></div>
									</div>
								</td>
								<td>
									<div style="display: flex; align-items: center;">
										<div th:text="${crop.cultivationp_period}"></div>
										<div>　日　</div>
									</div>
								</td>
								<td th:text="${crop.manual}"></td>
								<td>
									<a th:href="@{'/crops/detail/' + ${crop.Id}}" role="button">詳細を見る</a>
								</td>
							</tr>
						</tbody>
					</table>
					<a class="btn btn-success" th:href="@{/crops/new}" role="button">新しい作物を登録</a>
				</main>
			</div>
		</div>
	</div>
</body>

</html>