v<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>Portfolio</title>
</head>

<body>
	<div class="topics-new-wrapper" layout:fragment="contents">
		<div class="container">
			<h1>作物新規登録</h1>
			<!-- 画像以外のデータを入力するフォーム -->
			<form method="post" th:action="@{/crop}" th:object="${cropform}">
				<div layout:replace="~{layouts/common::messages}"></div>
				
				<label >種まき可能開始日("MM/dd")：</label>
				<input type="text" th:field="*{sowing_start}" placeholder="MM/dd" />
				<input type="submit" value="登録" class="btn w-100 btn-outline-dark" />
			</form>
			<!-- 画像以外のデータを入力するフォーム -->
			<form method="post" th:action="@{crops/upload-image}" th:object="${cropImageform}" enctype="multipart/form-data">
				<div layout:replace="~{layouts/common::messages}"></div>
				<label>Image</label>
				<input type="hidden" th:field="*{cropId}" />
				<input type="file" th:field="*{image}" />
				<div th:if="${imageError}" class="error-message">
					<p th:if="${#fields.hasErrors('image')}" class="error-message" th:errors="*{image}"></p>
				</div>
				<button type="submit">画像をアップロードする</button>
			</form>
			<!-- 画像がアップロードされたらここに画像を表示 -->
			<div th:if="${#lists.size(list) > 0}" th:each="image:${list}">
				<img th:src="${image.path}" alt="Image">
				<button type="button" class="btn btn-secondary">
					<a th:href="@{crops/delete-image(imageId=${image.id})}" style="text-decoration: none; color: inherit;">
						削除する
					</a>
				</button>
			</div>
		</div>
	</div>
</body>

</html>