<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>さいばい手帖</title>
</head>

<body>
	<div layout:fragment="contents">
		<div class="container">
			<div class="row">
				<main class="col-md-5 mx-auto">
					<!-- タイトル表示 -->
					<h1 class="text-center">ユーザー編集</h1>
					<!-- ユーザー編集フォーム -->
					<form method="post" th:action="@{/users/edit-complete}" th:object="${form}">
						<!-- エラーメッセージの表示 -->
						<div layout:replace="~{layouts/common::messages}"></div>
						<!-- ユーザー名入力フォーム -->
						<div class="mb-3">
							<label class="form-label" for="name">ユーザー名</label>
							<input type="text" class="form-control" id="name" th:field="*{name}" />
							<p th:if="${#fields.hasErrors('name')}" class="error-message" th:errors="*{name}"></p>
						</div>
						<!-- メールアドレス入力フォーム -->
						<div class="mb-3">
							<label class="form-label" for="email">メールアドレス</label>
							<input type="text" class="form-control" id="email" th:field="*{email}" />
							<p th:if="${#fields.hasErrors('email')}" class="error-message" th:errors="*{email}"></p>
						</div>
						<!-- パスワード再設定リンク -->
						<div class="mb-3">
							<label>パスワード</label>
							<a th:href="@{/reissue}">パスワードの再設定</a>
						</div>
						<!-- 編集ボタン -->
						<input type="submit" value="編集" class="btn w-100 btn-success" />
					</form>
				</main>
			</div>
		</div>
	</div>
</body>

</html>