<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>Portfolio</title>
</head>

<body>
	<div class="users-new-wrapper" layout:fragment="contents">
		<div class="container">
			<div class="row ">
				<main class="col-md-7 mx-auto frame">
					<div layout:replace="~{layouts/common::messages}"></div>
					<p th:text="${uniqueMessage}"></p>
			</div>
			</main>
		</div>
	</div>
</body>

</html>