body {
	font-family: "Hannari";
	background-color: burlywood;

}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 800;
	color: white;
}

h3 {
	color: rgb(101, 67, 33);
}

nav.navbar {
	width: 100vw;
	height: 30vh;
	background-image: url('/images/kateisaien.jpg');
	background-size: cover;
	border-color: white;
	border-width: 0 0 1px;
	margin-bottom: 25px;
	margin-top: 25px;
	padding: 0;

}


ul {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 5px;


}

li {
	padding: 15px 15px;
	font-size: 25px;
}

h1 {
	margin-bottom: 50px;
	margin-top: 50px;
	font-size: 50px;

}

p {
	font-size: 25px;
	margin-bottom: 25px;
	margin-top: 25px;
	color: rgb(101, 67, 33);
}

label {
	font-size: 20px;
	margin-bottom: 25px;
	margin-top: 25px;
}

.btn-success {
	font-size: 25px;
	text-align: center;
	padding: 10px 30px;
	background-color: darkolivegreen;
	margin-top: 25px;
	margin-bottom: 25px;
	border: 2px solid forestgreen;
	/* ボーダーの色 */
	color: white;
	/* テキストの色 */
	transition: background-color 0.3s ease-in-out;
}

/* ホバー時のスタイル */
.btn-success:hover {
	background-color: forestgreen;
	/* ホバー時の背景色 */
	color: white;
	/* ホバー時のテキスト色 */
}


.error-message {
	color: red;
	font-size: 20px;
}

.error-field {
	background-color: rgba(255, 192, 203, 0.8);
}

#error-topMessage {
	color: red;
	font-size: 20px;
	background-color: rgba(255, 192, 203, 0.8);
}

a {
	font-size: 25px;
}

span {
	font-size: 20px;
	display: flex;
	align-items: center;
}

.img-full-width {
	width: 100%;
}

.frame {
	background-color: white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	/* 角を丸める半径 */
	padding: 50px;
	/* フレーム内の余白 */
}

#dark_h {
	color: rgb(101, 67, 33);
}


.card {
	transition: transform 0.3s ease;
	background-color: white;
}

.card:hover {
	transform: scale(1.1);
}

.btn-blue {
	font-size: 25px;
	text-align: center;
	padding: 10px 30px;
	background-color: steelblue;
	text-align: center;
	padding: 5px 15px;
	margin-bottom: 0px;
	border: 2px solid dodgerblue;
	/* ボーダーの色 */
	color: white;
	/* テキストの色 */
	transition: background-color 0.3s ease-in-out;
}

/* ホバー時のスタイル */
.btn-blue:hover {
	background-color: dodgerblue;
	/* ホバー時の背景色 */
	color: white;
	/* ホバー時のテキスト色 */
}

.description {
	font-size: 25px;
	margin-bottom: 25px;
	margin-top: 25px;
	color: rgb(101, 67, 33);
	font-family: "Hannari";
}

.filepond--item {
	width: calc(50% - 0.5em);
}

.filepond--file-action-button {
	cursor: pointer;
}

/* the text color of the drop label*/
.filepond--drop-label {
	color: #555;
}

/* underline color for "Browse" button */
.filepond--label-action {
	text-decoration-color: #aaa;
}

/* the background color of the filepond drop area */
.filepond--panel-root {
	background-color: #eee;
	padding: 250px 30px;
}

/* the border radius of the drop area */
.filepond--panel-root {
	border-radius: 0.5em;
}

/* the border radius of the file item */
.filepond--item-panel {
	border-radius: 0.5em;

}

/* the background color of the file and file panel (used when dropping an image) */
.filepond--item-panel {
	background-color: #555;
}

/* the background color of the drop circle */
.filepond--drip-blob {
	background-color: #999;
}

/* the background color of the black action buttons */
.filepond--file-action-button {
	background-color: rgba(0, 0, 0, 0.5);
}

/* the icon color of the black action buttons */
.filepond--file-action-button {
	color: white;
}

/* the color of the focus ring */
.filepond--file-action-button:hover,
.filepond--file-action-button:focus {
	box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.9);
}

/* the text color of the file status and info labels */
.filepond--file {
	color: white;
}

/* error state color */
[data-filepond-item-state*='error'] .filepond--item-panel,
[data-filepond-item-state*='invalid'] .filepond--item-panel {
	background-color: red;
}

[data-filepond-item-state='processing-complete'] .filepond--item-panel {
	background-color: green;
}

/* bordered drop area */
.filepond--panel-root {
	background-color: transparent;
	border: 2px solid #2c3340;
}

#margin_for_imagePreview {
	height: 40vh;
	margin-bottom: 80px;
}

#frame {
	background-image: url('/images/87508.png');
	background-color: white;
	transition: transform 0.3s ease;
	margin: 30px;
	margin-left: 30px;
	margin-right: 30px;
}

#frame:hover {
	transform: scale(1.1);
}

.bordered-div {
	border-top: 1px solid #333;
	/* 1ピクセルの実線ボーダー、色は#333（灰色） */
	margin: 10px 0;
	/* 上下に10pxのマージン（隙間） */
	padding: 0.2px;
	/* 内部に10pxのパディング */
	background-color: rgb(101, 67, 33);
}

.scalable-element {
	transition: transform 0.3s ease;
	/* スケールの変化にトランジションを追加 */
}

.scalable-element:hover {
	transform: scale(1.1);
	/* ホバー時のスケール変化 */
}

.faded-element {
	transition: opacity 0.3s ease;
	/* 透明度の変化にトランジションを追加 */
}

.faded-element:hover {
	opacity: 0.7;
	/* ホバー時の透明度 */
}
.description {
      padding: 10px 20px;
      overflow: auto;
      white-space: pre-wrap;
      word-wrap: break-word;
      background-color: white;
      border: none;
    }

/*
h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}
.p-form-top {
    height: 120px;
}
.form-control, form-control-file {
  height: 45px;
}
.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}
#messages {
  ul{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 4px;
    color: black;
    li {
      list-style: none;
      padding: 4px 8px;
      font-size: 18px;
    }
  }
}
.error-message {
  color: red;
}
.error-field {
  background-color: rgba(255,192,203,0.8);
}
nav.navbar {
  background-color: rgba(0,0,0,0.5);
  border: 1px solid transparent;
  border-color: white;
  border-width: 0 0 1px;
  margin-bottom: 20px;
  padding: 0;
  a {
    color: #fff;
  }
  img {
    height: 40px;
  }
}
.pages-index-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('/images/bg-top.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  .container {
    padding-top: 80px;
    h1 {
      font-size: 56px;
      margin-bottom: 20px;
    }
    h2 {
      margin-bottom: 60px;
    }
  }
}
.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('/images/bg-top.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  main {
    padding-top: 80px;
  }
}
.topics-new-wrapper, .comments-new-wrapper {
  padding-top: 80px;
  #description {
    height: 80px;
  }
}
.topics-index-wrapper {
  padding: 80px 0 20px;
  background-color: #fafafa;
  min-height: calc(100vh - 180px);
  overflow: hidden;
  main {
    background-color: #fff;
    padding: 20px 0;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 6px;
    .author {
      margin-top: 10px;
      padding: 0 20px;
    }
    .image {
      margin: 10px 0;
      width: 100%;
    }
    .icons {
      display: flex;
      flex-direction: row;
      .icon {
        display: block;
        width: 35px;
        height: 30px;
        margin-left: 20px;
        img {
          width: 35px;
          height: 30px;
        }
        .favorite-on {
          -webkit-filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(400%) contrast(2);
          filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
        }
      }
      .count {
        display: flex;
        width: 10px;
        height: 30px;
        align-items: flex-end;
      }
    }
    .description {
      padding: 10px 20px;
      overflow: auto;
      white-space: pre-wrap;
      word-wrap: break-word;
      background-color: white;
      border: none;
    }
    .comments {
      ul{
        li {
          list-style: none;
        }
      }
    }
  }
}
.fc-direction-ltr {
  padding-top: 70px;
}
#calendar a {
  color: #337ab7;
  text-decoration: none;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 180px;
}
.footer {
  position: absolute;
  width: 100%;
  height: 180px;
  padding: 10px 0;
}
*/