<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>Pictgram</title>
</head>

<body>
	<div class="users-new-wrapper" layout:fragment="contents">
		<div layout:replace="~{layouts/common::messages}"></div>
		<div class="container">
			<div class="row">
				<main class="col-md-5 mx-auto">
					<h1 class="text-center">マイページ</h1>
					<p >新しく栽培計画を立てましょう！</p>
					<a class="btn btn-success" th:href="@{/crops(month='JANUARY')}" role="button">１月</a>
					<a class="btn btn-success" th:href="@{/crops(month='FEBRUARY')}" role="button">２月</a>
					<a class="btn btn-success" th:href="@{/crops(month=MARCH)}" role="button">３月</a>
					<a class="btn btn-success" th:href="@{/crops(month='APRIL')}" role="button">４月</a>
					<a class="btn btn-success" th:href="@{/crops(month='MAY')}" role="button">５月</a>
					<a class="btn btn-success" th:href="@{/crops(month='JUNE')}" role="button">６月</a>
					<a class="btn btn-success" th:href="@{/crops(month='JULY')}" role="button">７月</a>
					<a class="btn btn-success" th:href="@{/crops(month='AUGUST')}" role="button">８月</a>
					<a class="btn btn-success" th:href="@{/crops(month='SEPTEMBER')}" role="button">９月</a>
					<a class="btn btn-success" th:href="@{/crops(month='OCTOBER')}" role="button">１０月</a>
					<a class="btn btn-success" th:href="@{/crops(month='NOVEMBER')}" role="button">１１月</a>
					<a class="btn btn-success" th:href="@{/crops(month='DECEMBER')}" role="button">１２月</a>
				</main>
			</div>
		</div>
	</div>
</body>

</html>