<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Portfolio</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
</head>

<body>
	<nav layout:replace="~{layouts/common :: nav}"></nav>
	<div layout:fragment="contents"></div>
	<div class="container mt-4">
		<div class="row">
			<main class="col-md-10 mx-auto">
				<h1>区画使用状況確認</h1>
				<div th:if="${sectionList}">
					<ul>
						<li th:each="section : ${sectionList}">
							<h3 th:text="${section.name}">区画使用状況確認</h3>
							<div th:if="${#lists.size(section.plans) > 0}">
								<table class="table">
									<thead>
										<tr>
											<th scope="col">id</th>
											<th scope="col">作物名</th>
											<th scope="col">播種日</th>
											<th scope="col">収穫完了予定日</th>
											<th scope="col">栽培区画</th>
											<th scope="col">栽培ステイタス</th>
											<th scope="col">action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="plan : ${section.plans}">
											<th scope="row" th:text="${plan.id}"></th>
											<td th:text="${plan.crop.name}"></td>
											<td th:text="${plan.sowing_date}"></td>
											<td th:text="${plan.harvest_completion_date}"></td>
											<td th:text="${plan.section.name}"></td>
											<td th:text="${plan.completion ? '終了' : '計画中'}"></td>
											<td>
												<a th:href="@{'/plans/detail/' + ${plan.id}}" role="button">詳細を見る</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</li>
					</ul>
				</div>
				<h1>区画使用状況確認</h1>
				<div th:if="${sectionList}">
					<ul>
						<li th:each="section : ${sectionList}">
							<h3 th:text="${section.name}">区画使用状況確認</h3>
							<div th:if="${#lists.size(section.plans) > 0}">
								<div id="gantt_chart" th:attr="data-section-plans=${#lists.toList(section.plans)}"></div>
							</div>
						</li>
					</ul>
				</div>
			</main>
		</div>
	</div>
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<!-- jQuery UI -->
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<!-- Bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
	<!-- Google Chartsのロード -->
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="/scripts/method-convert.js" th:src="@{/scripts/method-convert.js}"></script>

	<script th:inline="javascript">
		
		 var chartData = /*[[${#strings.toList(data-section-plans)}]]*/ [];
    console.log(chartData);
		
	</script>
	<script type="text/javascript">
		google.charts.load('current', {'packages': ['gantt']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Task ID');
			data.addColumn('string', 'Task Name');
			data.addColumn('date', 'Start Date');
			data.addColumn('date', 'End Date');
			data.addColumn('number', 'Duration');
			data.addColumn('number', 'Percent Complete');
			data.addColumn('string', 'Dependencies');



			chartData.forEach(function (item) {
				data.addRow([
					item.id.toString(),
					item.crop.name,
					new Date(item.sowing_date),
					new Date(item.harvest_completion_date),
					null,
					item.completion ? 100 : 0,
					null
				]);
			});
			var options = {
				gantt: {
					trackHeight: 30,  // 適切な高さを指定してください
					viewWindow: {
						min: new Date(minDate),
						max: new Date(maxDate)
					}
				}
			};

			var chart = new google.visualization.Gantt(document.getElementById('ganttChart'));
			google.visualization.events.addListener(chart, 'select', function () {
				var selection = chart.getSelection();
				if (selection.length > 0) {
					var row = selection[0].row;
					var taskId = data.getValue(row, 0);

					// クリックされたエンティティのIDを使って詳細画面にリダイレクト
					window.location.href = '/plans/detail/' + taskId;
				}
			});

			chart.draw(data, options);
		}
	</script>
</body>

</html>