<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>さいばい手帖</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
</head>

<body>
	<nav layout:replace="~{layouts/common :: nav}"></nav>
	<div layout:fragment="contents"></div>
	<div class="container mt-4">
		<div class="row">
			<main class="col-md-6 mx-auto">
				<form id="searchForm" method="post" th:action="@{/plans/search}">
					<div class="form-group">
						<div class="row">
							<div class="col">
								<label class="form-label" for="keyword">作物名を入力:</label>
								<input type="text" class="form-control" th:text="${keyword}" th:value="${keyword}" id="keyword"
									name="keyword">
							</div>
							<div class="col">
								<label class="form-label" for="selectBox">区画を選択:</label>
								<select class="form-control" id="selectBox" name="sectionName">
									<option value="">--区画を選択してください--</option>
									<option th:each="section : ${sectionList}" th:value="${section.name}" th:text="${section.name}"
										th:selected="${sectionName == section.name}"></option>
								</select>
							</div>
							<div class="col">
								<label class="form-label" for="selectBox">年を選択:</label>
								<select class="form-control" id="selectBox" name="year">
									<option value="">--年を選択してください--</option>
									<option th:each="currentYear : ${yearList}" th:value="${currentYear}" th:text="${currentYear}"
										th:selected="${currentYear == year}"></option>
								</select>
							</div>
						</div>
						<br>
						<div class="form-check">
							<input type="radio" id="all" name="option" class="form-check-input" value="all"
								th:checked="${option == null or option == 'all'}">
							<label for="all" class="form-check-label" style="margin-top: 0px;">全て表示</label>
						</div>
						<div class="form-check">
							<input type="radio" id="progress" name="option" class="form-check-input" value="progress"
								th:checked="${option == 'progress'}">
							<label for="progress" class="form-check-label" style="margin-top: 0px;">栽培計画中のみ表示</label>
						</div>

						<div class="form-check">
							<input type="radio" id="completion" name="option" class="form-check-input" value="completion"
								th:checked="${option == 'completion'}">
							<label for="completion" class="form-check-label" style="margin-top: 0px;">栽培終了分のみ表示</label>
						</div>
					</div>
					<span th:if="${message}" th:text="${message}"></span>
					<button type="submit" class="btn w-40 btn-success">検索</button>
				</form>
			</main>
		</div>
		<div class="row">
			<main class="col-md-10 mx-auto">
				<h1>作物計画一覧</h1>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">id</th>
							<th scope="col">作物名</th>
							<th scope="col">播種日</th>
							<th scope="col">収穫完了予定日</th>
							<th scope="col">栽培区画</th>
							<th scope="col">栽培ステイタス</th>
							<th scope="col">action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="plan : ${list}">
							<th scope="row" th:text="${plan.id}"></th>
							<td th:text="${plan.crop.name}"></td>
							<td th:text="${plan.sowing_date}"></td>
							<td th:text="${plan.harvest_completion_date}"></td>
							<td th:text="${plan.section.name}"></td>
							<td th:text="${plan.completion ? '終了' : '計画中'}"></td>
							<td>
								<a th:href="@{'/plans/detail/' + ${plan.id}}" role="button">詳細を見る</a>
								<a th:href="@{'/diarys/new/' + ${plan.id}}" role="button">栽培日誌を作成</a>
							</td>
						</tr>
					</tbody>
				</table>
				<a class="btn btn-success" th:href="@{/plans/new}" role="button">新しい栽培計画を登録</a>
			</main>
		</div>
		<div class="row">
			<main class="col-md-12 mx-auto">
				<!-- Container for the Gantt Chart -->
				<h3>ガントチャート表示</h3>
				<div id="ganttChart"></div>
			</main>
		</div>
	</div>
	<!-- Bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
	<!-- Google Chartsのロード -->
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="/scripts/method-convert.js" th:src="@{/scripts/method-convert.js}"></script>

	<script th:inline="javascript">
		/*<![CDATA[*/
		var chartData = /*[[${gantList}]]*/[];
		/*]]>*/
		console.log(chartData);

	</script>
	<script type="text/javascript">
		google.charts.load('current', {'packages': ['gantt']});
		google.charts.setOnLoadCallback(drawChart);

		function drawChart() {
			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Task ID');
			data.addColumn('string', 'Task Name');
			data.addColumn('date', 'Start Date');
			data.addColumn('date', 'End Date');
			data.addColumn('number', 'Duration');
			data.addColumn('number', 'Percent Complete');
			data.addColumn('string', 'Dependencies');

			chartData.forEach(function (item) {
				data.addRow([
					item.id.toString(),
					item.cropName,
					new Date(item.sowing_date),
					new Date(item.harvest_completion_date),
					null,
					item.completion ? 100 : 0,
					null
				]);
			});
			var options = {
				gantt: {
					trackHeight: 30,
				}
			};

			var chart = new google.visualization.Gantt(document.getElementById('ganttChart'));
			google.visualization.events.addListener(chart, 'select', function () {
				var selection = chart.getSelection();
				if (selection.length > 0) {
					var row = selection[0].row;
					var taskId = data.getValue(row, 0);

					// クリックされたエンティティのIDを使って詳細画面にリダイレクト
					window.location.href = '/app/plans/detail/' + taskId;
				}
			});

			chart.draw(data, options);
		}
	</script>

</body>

</html>