<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Portfolio</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
	<nav layout:replace="~{layouts/common :: nav}"></nav>
	<div layout:fragment="contents"></div>
	<div class="container mt-4">
		<form id="searchForm" method="post" th:action="@{/plans/search}">
			<div class="form-group">
				<label for="keyword">作物名を入力:</label>
				<input type="text" class="form-control" th:text="${keyword}" th:value="${keyword}" id="keyword" name="keyword">
				<label for="selectBox">区画を選択:</label>
				<select id="selectBox" name="sectionName">
					<option value="">--区画を選択してください--</option>
					<option th:each="section : ${sectionList}" th:value="${section.name}" th:text="${section.name}"
						th:selected="${sectionName == section.name}"></option>
				</select>
				<label for="selectBox">年を選択:</label>
				<select id="selectBox" name="year">
					<option value="">--年を選択してください--</option>
					<option th:each="currentYear : ${yearList}" th:value="${currentYear}" th:text="${currentYear}"
						th:selected="${currentYear == year}"></option>
				</select>
				<div class="form-check">
					<input type="radio" id="all" name="option" class="form-check-input" value="all"
						th:checked="${option == null or option == 'all'}">
					<label for="all" class="form-check-label">全て表示</label>
				</div>

				<div class="form-check">
					<input type="radio" id="progress" name="option" class="form-check-input" value="progress"
						th:checked="${option == 'progress'}">
					<label for="progress" class="form-check-label">栽培計画中のみ表示</label>
				</div>

				<div class="form-check">
					<input type="radio" id="completion" name="option" class="form-check-input" value="completion"
						th:checked="${option == 'completion'}">
					<label for="completion" class="form-check-label">栽培終了分のみ表示</label>
				</div>
			</div>
			<div th:if="${message}">
				<span th:text="${message}"></span>
			</div>
			<button type="submit" class="btn btn-primary">検索</button>
		</form>
		<!-- 検索結果を表示する部分 -->
		<div th:if="${list}" 　id="list" class="mt-4">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">id</th>
						<th scope="col">作物名</th>
						<th scope="col">播種日</th>
						<th scope="col">収穫完了予定日</th>
						<th scope="col">栽培区画</th>
						<th scope="col">栽培ステイタス</th>
						<th scope="col">action</th>
					</tr>
				</thead>
				<tbody>
					<!-- th:eachで反復処理して検索結果を表示 -->
					<tr th:each="result : ${list}">
						<th scope="row" th:text="${result.id}"></th>
						<td th:text="${result.crop.name}"></td>
						<td th:text="${result.sowing_date}"></td>
						<td th:text="${result.harvest_completion_date}"></td>
						<td th:text="${result.section.name}"></td>
						<td th:text="${result.completion ? '終了' : '計画中'}"></td>
						<td>
							<button type="button" class="btn btn-secondary">
								<a th:href="@{'/plans/detail/' + ${result.id}}" style="text-decoration: none; color: inherit;">
									詳細を見る
								</a>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<button type="button" class="btn btn-primary">
		<a th:href="@{/plans/new}" style="text-decoration: none; color: inherit;">
			新しい栽培計画を登録
		</a>
	</button>
	</div>
	<!-- Container for the Gantt Chart -->
	<div id="ganttChart"></div>

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<!-- jQuery UI -->
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<!-- Bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
	<!-- Google Chartsのロード -->
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="/scripts/method-convert.js" th:src="@{/scripts/method-convert.js}"></script>

	<script th:inline="javascript">
		/*<![CDATA[*/
		var chartData = /*[[${gantList}]]*/[];
		/*]]>*/
		/*<![CDATA[*/
		var minDate = /*[[${minDate}]]*/[];
		/*]]>*/
		/*<![CDATA[*/
		var maxDate = /*[[${maxDate}]]*/[];
		/*]]>*/
		console.log(chartData);
		console.log(minDate);
		console.log(maxDate);

	</script>
	<script type="text/javascript">
		google.charts.load('current', {'packages': ['gantt']});
		google.charts.setOnLoadCallback(drawChart);
		console.log(chartData);


		function drawChart() {
			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Task ID');
			data.addColumn('string', 'Task Name');
			data.addColumn('date', 'Start Date');
			data.addColumn('date', 'End Date');
			data.addColumn('number', 'Duration');
			data.addColumn('number', 'Percent Complete');
			data.addColumn('string', 'Dependencies');



			chartData.forEach(function (item) {
				data.addRow([
					item.id.toString(),
					item.cropName,
					new Date(item.sowing_date),
					new Date(item.harvest_completion_date),
					null,
					item.completion ? 100 : 0,
					null
				]);
			});

			var options = {
				hAxis: {
					viewWindow: {
						min: new Date(minDate),
						max: new Date(maxDate)
					}
				}
			};
			console.log(minDate);
			console.log(maxDate);



			var chart = new google.visualization.Gantt(document.getElementById('ganttChart'));
			google.visualization.events.addListener(chart, 'select', function () {
				var selection = chart.getSelection();
				if (selection.length > 0) {
					var row = selection[0].row;
					var taskId = data.getValue(row, 0);

					// クリックされたエンティティのIDを使って詳細画面にリダイレクト
					window.location.href = '/plans/detail/' + taskId;
				}
			});

			chart.draw(data, options);
		}
	</script>

</body>

</html>