<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>さいばい手帖</title>
</head>

<body>
	<div layout:fragment="contents">
		<div class="container">
			<div class="row">
				<main class="col-md-5 mx-auto">
					<h1 class="text-center">栽培計画登録</h1>
					<form method="post" th:action="@{/plan}" th:object="${form}" id="form">
						<div layout:replace="~{layouts/common::messages}"></div>
						<input type="hidden" th:field="*{id}" />
						<div class="row mb-3">
							<div class="col-7">
								<label class="form-label" for="cropName">作物名</label>
								<input type="text" id="cropName" class="form-control" th:field="*{cropName}">
								<div id="cropList" th:if="${not #lists.isEmpty(searchCrops)}" style="overflow-y: scroll; height: 200px; background-color: rgba(255, 255, 255, 0.8);">
									<ul class="list-group" th:each="crop : ${searchCrops}">
										<li class="list-group-item" th:text="${crop.name}" th:attr="data-cropname=${crop.name}"
											onclick="setCropName(this)" style="font-size: 16px;">
										</li>
									</ul>
								</div>
							</div>
							<div class="col-5">
								<button type="submit" name="cmd" value="search" class="btn btn-blue"
									style="margin-top: 62px;">作物を検索する</button>
							</div>
							<p style="font-size: 20px;" th:if="${searchCropsMessage}" th:text="${searchCropsMessage}"></p>
							<p th:if="${#fields.hasErrors('cropName')}" class="error-message" th:errors="*{cropName}"></p>
						</div>
						<div class="mb-3">
							<div class="row">
								<div class="col">
									<label class="form-label" for="sowing_date">播種日</label>
									<input type="date" id="sowing_date" class="form-control" th:field="*{sowing_date}" />
									<p th:if="${#fields.hasErrors('sowing_date')}" class="error-message" th:errors="*{sowing_date}"></p>
								</div>
							</div>
						</div>
						<div class="mb-3">
							<label class="form-label" for="harvest_completion_date">収穫完了予定日</label>
							<input type="date" id="harvest_completion_date" class="form-control"
								th:field="*{harvest_completion_date}" />
							<p th:if="${#fields.hasErrors('harvest_completion_date')}" class="error-message"
								th:errors="*{harvest_completion_date}"></p>
							<button type="submit" name="cmd" value="calculate" class="btn btn-blue"
								style="margin-top: 0px;">収穫完了予定日を算出する</button>
						</div>
						<div class="mb-3">
							<label class="form-label" for="selectBox">栽培区画</label>
							<select id="selectBox" class="form-control" th:field="*{sectionName}">
								<option value="">--区画を選択してください--</option>
								<option th:each="section : ${searchSections}" th:value="${section.name}" th:text="${section.name}"
									th:selected="${section.name == form.sectionName}"></option>
							</select>
							<p style="font-size: 20px;" th:if="${searchSectionsMessage}" th:text="${searchSectionsMessage}"></p>
							<p th:if="${#fields.hasErrors('sectionName')}" class="error-message" th:errors="*{sectionName}"></p>
							<button type="submit" name="cmd" value="select" class="btn-blue"
								style="margin-top: 0px;">利用可能な区画を取得する</button>
						</div>
						<div class="mb-3">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="customCheckbox" th:field="*{completion}"
									style="margin-top: 30px;">
								<label class="form-check-label" for="customCheckbox">栽培終了</label>
							</div>
						</div>
						<button type="submit" name="cmd" value="register" class="btn w-100 btn-success">登録</button>
					</form>
				</main>
			</div>
		</div>
	</div>
</body>

</html>