v<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>さいばい手帖</title>
</head>

<body>
	<div class="topics-new-wrapper" layout:fragment="contents">
		<div class="container">
			<div class="row">
				<main class="col-md-8 mx-auto">
					<h1 class="text-center">栽培日誌編集</h1>
					<form method="post" th:action="@{/diarys/edit-complete}" th:object="${form}" enctype="multipart/form-data">
						<div layout:replace="~{layouts/common::messages}"></div>
						<div layout:replace="~{layouts/common::notField-messages}"></div>
						<input type="hidden" th:field="*{id}" />
						<div class="mb-3">
							<label class="form-label" for="planId">栽培計画ID</label>
							<input type="text" class="form-control" id="planId" th:field="*{planId}" readonly />
						</div>
						<div class="mb-3">
							<div style="display: flex; flex-wrap: wrap;">
								<div th:if="${#lists.size(list) > 0}" th:each="image: ${list}">
									<div class="image-container">
										<img th:src="${image.path}" alt="Image" style="width: 150px; height: 150px;">
										<a th:href="@{/diarys/delete-image(imageId=${image.id}, diaryId=${image.diaryId})}"
											style="margin-right: 10px;">
											削除する
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="mb-3">
							<div id="margin_for_imagePreview">
								<label class="form-label" for="images">画像の選択</label>
								<input type="file" id="images" name="images" multiple>
							</div>
							<br>
							<p th:if="${imageError}" class="error-message" th:text="${imageError}"></p>
						</div>
						<div class="mb-3">
							<label class="form-label" for="record_date">記録日</label>
							<input type="date" id="record_date" class="form-control" th:field="*{record_date}" />
							<p th:if="${#fields.hasErrors('record_date')}" class="error-message" th:errors="*{record_date}"></p>
						</div>
						<div class="mb-3">
							<label class="form-label" for="description">説明</label>
							<textarea class="form-control" id="description" th:field="*{description}"></textarea>
							<p th:if="${#fields.hasErrors('description')}" class="error-message" th:errors="*{description}"></p>
						</div>
						<input type="submit" value="編集" class="btn w-100 btn-success" />
					</form>
				</main>
			</div>
		</div>
	</div>
</body>

</html>