v<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>Portfolio</title>
</head>

<body>
	<div class="topics-new-wrapper" layout:fragment="contents">
		<div class="container">
			<div class="row">
				<main class="col-md-8 mx-auto">
					<h1 class="text-center">栽培日誌登録</h1>
					<form method="post" th:action="@{/diary}" th:object="${form}" enctype="multipart/form-data">
						<div layout:replace="~{layouts/common::messages}"></div>
						<div layout:replace="~{layouts/common::notField-messages}"></div>
						<input type="hidden" th:field="*{id}" />
						<div class="mb-3">
							<label class="form-label" for="planId">栽培計画ID</label>
							<input type="text" class="form-control" id="planId" th:field="*{planId}" readonly />
						</div>
						<div class="mb-3">
							<div id="margin_for_imagePreview">
								<label class="form-label" for="images">画像の選択 ※10itemまで</label>
								<input class="form-control-file" type="file" id="images" name="images" multiple>
							</div>
							<br>
							<p th:if="${imageError}" class="error-message" th:text="${imageError}"></p>
						</div>
						<div class="mb-3">
							<label class="form-label" for="record_date">記録日</label>
							<input type="date" id="record_date" class="form-control" th:field="*{record_date}" />
							<p th:if="${#fields.hasErrors('record_date')}" class="error-message" th:errors="*{record_date}"></p>
						</div>
						<div class="mb-3">
							<label class="form-label" for="description">説明</label>
							<textarea class="form-control" id="description" th:field="*{description}"
								th:errorclass="error-field"></textarea>
							<p th:if="${#fields.hasErrors('description')}" class="error-message" th:errors="*{description}"></p>
						</div>
						<input type="submit" value="登録" class="btn w-100 btn-success" />
					</form>
				</main>
			</div>
		</div>
	</div>
</body>

</html>