<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>Portfolio</title>
</head>

<body>
	<div class="topics-new-wrapper" layout:fragment="contents">
		<div class="container">
			<h1>作物情報編集</h1>
			<!-- 画像以外のデータを入力するフォーム -->
			<form method="post" th:action="@{/sections/edit-complete}" th:object="${form}">
				<div layout:replace="~{layouts/common::messages}"></div>
				<input type="hidden" th:field="*{id}" />
				<label>作物名</label>
				<input type="text" class="form-control" th:field="*{name}" />
				<p th:if="${#fields.hasErrors('name')}" class="error-message" th:errors="*{name}"></p>
				<label>説明</label>
				<textarea class="form-control" th:field="*{description}" th:errorclass="error-field" ></textarea>
				<p th:if="${#fields.hasErrors('description')}" class="error-message" th:errors="*{description}"></p>
				<input type="submit" value="編集" class="btn w-100 btn-outline-dark" />
			</form>
		</div>
	</div>
</body>
</html>