<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>Portfolio</title>
</head>

<body>
	<div layout:fragment="contents">
		<div class="container mt-4">
			<div class="row">
				<main class="col-md-5 mx-auto">
					<form id="searchForm" method="post" th:action="@{/sections/search}">
						<div class="form-group">
							<label class="form-label" for="keyword">区画名を入力:</label>
							<input type="text" class="form-control" th:value="${keyword}" id="keyword" name="keyword">
							<span th:if="${message}" th:text="${message}"></span>
							<button type="submit" class="btn w-40 btn-success">検索</button>
					</form>
				</main>
			</div>
			<div class="row">
				<main class="col-md-10 mx-auto">
					<h1>区画一覧</h1>
					<table class="table">
						<thead>
							<tr>
								<th scope="col">id</th>
								<th scope="col">名前</th>
								<th scope="col">説明</th>
								<th scope="col">action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="section : ${list}">
								<th th:text="${section.id}"></th>
								<td th:text="${section.name}"></td>
								<td th:text="${section.description}"></td>
								<td>
									<a th:href="@{'/sections/detail/' + ${section.id}}" role="button">詳細を見る</a>
								</td>
							</tr>
						</tbody>
					</table>
					<a class="btn btn-success" th:href="@{/sections/new}" role="button">新しい区画を登録</a>
				</main>
			</div>
		</div>
	</div>
</body>

</html>